{{!-- Handlebars to manage view of single budget --}}
<div class="container">
  {{!-- Establish card with all budget details --}}
  <div class="card mt-5 p-4">
    <h1 class="my-3 col text-lowercase display-5">{{budget.name}}</h1>
    <p id="budget-id" data-id={{budget.id}}></p>
    {{!-- Create cards to show budget stats - including limit, expense totall, and remaining --}}
    <div class="row justify-content-center my-5">
      <div class="col-lg-3 m-2">
        <div
          class="budget-summary custom-blockColor p-2 rounded"
          data-budget={{budget.budget_limit}}
        >
          <p>budget limit:</p>
          <p class="text-right font-weight-bold">
            ${{budget.budget_limit}}</p></div>
      </div>
      <div class="col-lg-3 m-2">
        <div class="custom-blockColor p-2 rounded">
          <p>expenses total: </p>
          <p
            class="expense-summary font-weight-bold text-right text-danger"
          ></p>
        </div>
      </div>
      <div class="col-lg-3 m-2">
        <div class="custom-blockColor p-2 rounded">
          <p>remaining total:</p>
          <p
            class="remaining-summary font-weight-bold text-right text-info"
          ></p>
        </div>
      </div>
    </div>
    {{!-- Table to hold all expenses logged to budget --}}
    <div class="table-responsive-xl">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Expense</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        {{!-- Loop through each expense logged to the budget and create a table row with the relevent details --}}
        <tbody id="new-expense">
          {{#each budget.expenses as |expense|}}
            <tr>
              <td class="align-middle"><button
                  class="delete-expense-button btn btn-light text-secondary"
                  data-id={{id}}
                >✖</button></td>
              <td class="align-middle">{{expense_date}}</td>
              <td class="align-middle">{{expense_name}}</td>
              <td class="align-middle">{{expense_description}}</td>
              <td class="align-middle">$
                <span
                  class="expense-amount"
                  data-expense="{{expense-amount}}"
                >{{expense_amount}}</span></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{!-- Container holding final tally of all expenses at the bottom of the page --}}
      <div class="container">
        <div id="total-sum" class="row d-flex justify-content-end">
          <div class="col-4 text-right">
            <p><b>Total Expenses:</b></p>
            <hr />
            <p id="calculatedExpenses" class="text-weight-bold"></p>
          </div>
        </div>
      </div>
    </div>
    {{!-- Button to add new expense - on click will prompt show of expense inputs --}}
    <div class="col-5">
      <button
        class="btn btn-success custom-text-color mx-2 mt-2"
        id="new-expense-button"
        type="click"
      >+ expense</button>
      {{!-- Button to confirm add of new expense - will only appear on add expense click --}}
      <button
        class="btn btn-success custom-text-color mx-2 mt-2"
        id="confirm-expense-button"
        type="click"
      >&#x2713</button>
    </div>
  </div>
  {{!-- Button to go back to user dashboard --}}
  <div class="row">
    <div class="col text-right mt-4">
      <button onclick="window.location.href='/dash';" class="btn btn-success">
        < back to dashboard</button>
    </div>
  </div>
</div>
  {{!-- Jquery Script Files --}}
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  
  {{!-- Link to budget.js to manage page interaction--}}
  <script src="/js/budget.js"></script>
