<div class="container text-center">
  <div class="card mt-5 p-4">
    <h2 class="my-3">{{budget.name}}</h2>
    <p id="budget-id" data-id={{budget.id}}>{{budget.id}}</p>
    <div class="row justify-content-center my-5">
      <div class="col-md-3 m-2">
        <div class="bg-light p-4 rounded">{{budget.budget_limit}}</div>
      </div>
      <div class="col-md-3 m-2">
        <div class="bg-primary p-4 rounded">Total Spent</div>
      </div>
      <div class="col-md-3 m-2">
        <div class="bg-warning p-4 rounded">Total Remaining</div>
      </div>
    </div>
    <div class="table-responsive-sm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Expense</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody id="new-expense">
          {{#each budget.expenses as |expense|}}
            <tr>
              <td>{{expense_date}}</td>
              <td>{{expense_name}}</td>
              <td>{{expense_description}}</td>
              <td class="expense-amount" data-expense="{{expense-amount}}">{{expense_amount}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>
      {{! <div class="container">
        <div class="row d-flex justify-content-end">
          <div id="new-expense" class="col-3 d-flex">

          </div>
        </div>
      </div> }}
      <div class="container">
        <div id="total-sum" class="row d-flex justify-content-end">
          <div class="col-3">
            <div>Total Expenses</div>
            <div> SUM AMOUNT</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button
        class="btn btn-warning custom-text-color"
        id="new-expense-button"
        type="click"
      >+ add expense</button>
      <button
        class="btn btn-warning custom-text-color"
        id="confirm-expense-button"
        type="click"
      >&#x2713</button>
    </div>
  </div>
</div>

<script src="/js/budget.js"></script>