<div class="container">
  <div class="card mt-5 p-4">
    <h2 class="my-3 col text-uppercase">{{budget.name}}</h2>
    {{! <button type="submit" id="delete-button" class="btn btn-danger">Remove
      Budget</button> }}

    <p id="budget-id" data-id={{budget.id}}></p>
    <div class="row justify-content-center my-5">
      <div class="col-md-3 m-2">
        <div
          class="budget-summary custom-blockColor p-4 rounded"
          data-budget={{budget.budget_limit}}
        >
          <h5>budget limit:</h5>
          <h5 class="text-right font-weight-bold">
            ${{budget.budget_limit}}</h5></div>
      </div>
      <div class="col-md-3 m-2">
        <div class="custom-blockColor p-4 rounded">
          <h5>expenses total: </h5>
          <h5
            class="expense-summary font-weight-bold text-right text-danger"
          ></h5>
        </div>
      </div>
      <div class="col-md-3 m-2">
        <div class="custom-blockColor p-4 rounded">
          <h5>remaining total:</h5>
          <h5
            class="remaining-summary font-weight-bold text-right text-info"
          ></h5>
        </div>
      </div>
    </div>
    <div class="table-responsive-sm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><h5>Date</h5></th>
            <th scope="col"><h5>Expense</h5></th>
            <th scope="col"><h5>Description</h5></th>
            <th scope="col"><h5>Cost</h5></th>
          </tr>
        </thead>
        <tbody id="new-expense">
          {{#each budget.expenses as |expense|}}
            <tr>
              <td class="align-middle"><button
                  class="delete-expense-button btn btn-light text-secondary"
                  data-id={{id}}
                >✖</button></td>
              <td class="align-middle">{{expense_date}}</td>
              <td class="align-middle">{{expense_name}}</td>
              <td class="align-middle">{{expense_description}}</td>
              <td class="align-middle">$
                <span
                  class="expense-amount"
                  data-expense="{{expense-amount}}"
                >{{expense_amount}}</span></td>
            </tr>
          {{/each}}

        </tbody>
      </table>
      {{! <div class="container">
        <div class="row d-flex justify-content-end">
          <div id="new-expense" class="col-3 d-flex">

          </div>
        </div>
      </div> }}
      <div class="container">
        <div id="total-sum" class="row d-flex justify-content-end">
          <div class="col-4 text-right">
            <h5>Total Expenses:</h5>
            <hr />
            <h5 id="calculatedExpenses" class="text-weight-bold"></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button
        class="btn custom-primaryButton custom-text-color mx-2"
        id="new-expense-button"
        type="click"
      >+ expense</button>
      <button
        class="btn custom-primaryButton custom-text-color"
        id="confirm-expense-button"
        type="click"
      >&#x2713</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-right mt-4">
      <button
        onclick="window.location.href='/dash';"
        class="btn custom-secondaryButton"
      >go to dashboard</button>
    </div>
  </div>
</div>

<script src="/js/budget.js"></script>