<div class="container">
  <div class="card mt-5 p-4">
    <h2 class="my-3 col text-uppercase">{{budget.name}}</h2>
    {{! <button type="submit" id="delete-button" class="btn btn-danger">Remove
      Budget</button> }}

    <p id="budget-id" data-id={{budget.id}}></p>
    <div class="row justify-content-center my-5">
      <div class="col-md-3 m-2">
        <div
          class="budget-summary border p-4 rounded"
          data-budget={{budget.budget_limit}}
        >
          <h5 class="font-weight-bold">budget limit:</h5>
          <h5 class="text-right"> ${{budget.budget_limit}}</h5></div>
      </div>
      <div class="col-md-3 m-2">
        <div class="border p-4 rounded">
          <h5 class="font-weight-bold"> total expenses: </h5>
          <h5 class="expense-summary text-right"></h5>
        </div>
      </div>
      <div class="col-md-3 m-2">
        <div class="border p-4 rounded">
          <h5 class="font-weight-bold">total remaining:</h5>
          <h5 class="remaining-summary text-right"></h5>
        </div>
      </div>
    </div>
    <div class="table-responsive-sm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Expense</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody id="new-expense">
          {{#each budget.expenses as |expense|}}
            <tr>
              <td><button
                  class="delete-expense-button btn btn-secondary"
                  data-id={{id}}
                >✕</button></td>
              <td>{{expense_date}}</td>
              <td>{{expense_name}}</td>
              <td>{{expense_description}}</td>
              <td>$
                <span
                  class="expense-amount"
                  data-expense="{{expense-amount}}"
                >{{expense_amount}}</span></td>
            </tr>
          {{/each}}

        </tbody>
      </table>
      {{! <div class="container">
        <div class="row d-flex justify-content-end">
          <div id="new-expense" class="col-3 d-flex">

          </div>
        </div>
      </div> }}
      <div class="container">
        <div id="total-sum" class="row d-flex justify-content-end">
          <div class="col-3">
            <div>Total Expenses</div>
            <div id="calculatedExpenses"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button
        class="btn btn-warning custom-text-color mx-2"
        id="new-expense-button"
        type="click"
      >+ expense</button>
      <button
        class="btn btn-warning custom-text-color"
        id="confirm-expense-button"
        type="click"
      >&#x2713</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-right mt-4">
      <button class="btn btn-info">go to dashboard</button>
    </div>
  </div>
</div>

<script src="/js/budget.js"></script>